<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Ideas in Software is Loaded" %></title>

  <%= stylesheet_link_tag "application" %>
  <!-- <%= stylesheet_link_tag "Skeleton-2.0.4/normalize" %>
  <%= stylesheet_link_tag "Skeleton-2.0.4/skeleton" %> -->

  <%= yield_content :css %>
</head>

<body class="<%= page_classes %>">
  <header class="site-header">
    <%= partial "_layouts/nav" %>
  </header>

  <main class="site-main">
    <div class="container module">
      <%= yield %>
    </div>
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>&copy; <%= Time.now.year %> <a href="https://github.com/graeme-lockley">Ideas in Software</a></p>
    </div>
  </footer>

  <%= javascript_include_tag  "application" %>
  <%= yield_content :js %>
</body>
</html>
